<div class="row">
  <div class="col-xs-12 text-center">
    <h1 class="title">Favorites</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <% if (currentUser) { %>
        <div id="accordion">
            <% places.forEach(function(place) { %>
              <div class="group">
              <div class="sortable">
                <p class="favTitle"><%= place.name %> <span class="pull-right">Rating:<%= place.rating %></span></p>
                <p><%= place.address %>
                <%= place.phone %></p>
              </div>
              <div>
                <p>
                  <p>Wifi: <% if (place.wifi/place.fav_count > 6) { %>
                      <span class="good">Good</span> </p>
                      <% } else if (place.wifi/place.fav_count > 3) { %>
                        <span class="ave">Average</span> </p>
                      <% } else if (place.wifi/place.fav_count > 1) { %>
                        <span class="poor">Poor</span> </p>
                        <% } else { %>
                          <span class="none">None</span> </p>
                      <% } %>
                    <p>Seating: <% if (place.seating/place.fav_count > 6) { %>
                        <span class="good">Good</span> </p>
                        <% } else if (place.seating/place.fav_count > 3) { %>
                          <span class="ave">Average</span> </p>
                        <% } else if (place.seating/place.fav_count > 1) { %>
                          <span class="poor">Poor</span> </p>
                          <% } else { %>
                            <span class="none">None</span> </p>
                        <% } %>
                    <p>Outlets: <% if (place.outlets/place.fav_count > 6) { %>
                        <span class="good">Good</span> </p>
                        <% } else if (place.outlets/place.fav_count > 3) { %>
                          <span class="ave">Average</span> </p>
                        <% } else if (place.outlets/place.fav_count > 1) { %>
                          <span class="poor">Poor</span> </p>
                          <% } else { %>
                            <span class="none">None</span> </p>
                        <% } %>
                    <p>Noise: <% if (place.noise/place.fav_count > 6) { %>
                        <span class="good">Good</span> </p>
                        <% } else if (place.noise/place.fav_count > 3) { %>
                          <span class="ave">Average</span> </p>
                        <% } else if (place.noise/place.fav_count > 1) { %>
                          <span class="poor">Poor</span> </p>
                          <% } else { %>
                            <span class="none">None</span> </p>
                        <% } %>
                </p>
                <div>
                  <p>Business Hours</p>
                  <% if(place.hours) { %>
                    <ul>
                      <% place.hours.forEach(function(hours) { %>
                        <li style="list-style-type:none"><%= hours %></li>
                      <% }); %>
                    </ul>
                  <% }; %>
                </div>
                <p>
                  <div>
                  <% if (food.food) { %>
                    <% food.food.forEach(function(foods) { %>
                      <input type="button" name="food" id="<%= foods.food %>" item="<%= foods.food %>" class="Butt btn-sm btn-primary" value="<%= foods.food %>" style="background-color: rgb(49, 93, 134)">
                      <% }); %>
                  <% }; %>
                </div>
                <div>
                <% if (drink.drinks) { %>
                  <% drink.drinks.forEach(function(drinks) { %>
                    <input type="button" name="drink" id="<%= drinks.drink %>" item="<%= drinks.drink %>" class="Butt btn-sm btn-primary" value="<%= drinks.drink %>" style="background-color: rgb(49, 93, 134)">
                    <% }); %>
                <% }; %>
              </div>
              <div>
              <% if (tag.tags) { %>
                <% tag.tags.forEach(function(tags) { %>
                  <input type="button" name="tag" id="<%= tags.tag %>" item="<%= tags.tag %>" class="Butt btn-sm btn-primary" value="<%= tags.tag %>" style="background-color: rgb(49, 93, 134)">
                  <% }); %>
              <% }; %>
            </div>
                <% place.types.forEach(function(types) { %>
                    <span><%= types %>, </span>
                <% }); %>
                </p>
                <a href="/edit/<%= place.id %>" id="<%= place.id %>" class="btn btn-success edit">Edit</a>
              </div>
              </div>
            <% }) %>
          </div>
    <% } else { %>
      <div class="jumbotron jumbo">
        <h1>Please log in to see favorites</h1>
      </div>
    <% }; %>
  </div>
  <div class="col-xs-2">
  </div>
</div>
