<div class="row">
  <div class="col-xs-12 text-center">
    <h1 class="title">Favorites</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <% if (currentUser) { %>
        <div id="accordion">
            <% places.placeinfos.forEach(function(place) { %>
              <div class="group">
              <div class="sortable">
                <p class="favTitle"><%= place.name %> <span class="pull-right">Rating:<%= place.rating %></span></p>
                <p><%= place.address %>
                <%= place.phone %></p>
              </div>
              <div>
                <p>
                  <p>Wifi: <% if (place.wifi/place.fav_count > 6) { %>
                      <span class="good">Good</span> </p>
                      <% } else if (place.wifi/place.fav_count > 3) { %>
                        <span class="ave">Average</span> </p>
                      <% } else if (place.wifi/place.fav_count > 1) { %>
                        <span class="poor">Poor</span> </p>
                        <% } else { %>
                          <span class="none">None</span> </p>
                      <% } %>
                    <p>Seating: <% if (place.seating/place.fav_count > 6) { %>
                        <span class="good">Good</span> </p>
                        <% } else if (place.seating/place.fav_count > 3) { %>
                          <span class="ave">Average</span> </p>
                        <% } else if (place.seating/place.fav_count > 1) { %>
                          <span class="poor">Poor</span> </p>
                          <% } else { %>
                            <span class="none">None</span> </p>
                        <% } %>
                    <p>Outlets: <% if (place.outlets/place.fav_count > 6) { %>
                        <span class="good">Good</span> </p>
                        <% } else if (place.outlets/place.fav_count > 3) { %>
                          <span class="ave">Average</span> </p>
                        <% } else if (place.outlets/place.fav_count > 1) { %>
                          <span class="poor">Poor</span> </p>
                          <% } else { %>
                            <span class="none">None</span> </p>
                        <% } %>
                    <p>Noise: <% if (place.noise/place.fav_count > 6) { %>
                        <span class="good">Good</span> </p>
                        <% } else if (place.noise/place.fav_count > 3) { %>
                          <span class="ave">Average</span> </p>
                        <% } else if (place.noise/place.fav_count > 1) { %>
                          <span class="poor">Poor</span> </p>
                          <% } else { %>
                            <span class="none">None</span> </p>
                        <% } %>
                </p>
                <div>
                  <p>Business Hours</p>
                  <% if(place.hours) { %>
                    <ul>
                      <% place.hours.forEach(function(hours) { %>
                        <li style="list-style-type:none"><%= hours %></li>
                      <% }); %>
                    </ul>
                  <% }; %>
                </div>
                <p>
                  <div>
                  <% if (food) { %>
                    <% for (key in food) { %>
                    <% food[key].placeinfos.forEach(function(foods) { %>
                      <% if (foods.id == place.id) { %>
                      <input type="button" name="food" id="<%= food[key].food %>" item="<%= food[key].food %>" class="Butt btn-sm btn-primary" value="<%= food[key].food %>" style="background-color: rgb(49, 93, 134)">
                      <% }; %>
                      <% }); %>
                    <% } %>
                  <% }; %>
                </div>
                <div>
                <% if (drinks) { %>
                  <% for (key in drinks) { %>
                  <% drinks[key].placeinfos.forEach(function(drink) { %>
                    <% if (drink.id == place.id) { %>
                    <input type="button" name="drink" id="<%= drinks[key].drink %>" item="<%= drinks[key].drink %>" class="Butt btn-sm btn-success" value="<%= drinks[key].drink %>" style="background-color: rgb(49, 134, 68)">
                    <% }; %>
                    <% }); %>
                  <% } %>
                <% }; %>
              </div>
              <div>
              <% if (tag) { %>
                <% for (key in tag) { %>
                <% tag[key].placeinfos.forEach(function(tags) { %>
                  <% if (tags.id == place.id) { %>
                  <input type="button" name="tag" id="<%= tag[key].tag %>" item="<%= tag[key].tag %>" class="Butt btn-sm btn-danger" value="<%= tag[key].tag %>" style="background-color: rgb(234,53,86)">
                  <% } %>
                  <% }); %>
                <% } %>
              <% }; %>
            </div>
                <% place.types.forEach(function(types) { %>
                    <span><%= types %>, </span>
                <% }); %>
                </p>
                <a href="/edit/<%= place.id %>" id="<%= place.id %>" class="btn btn-success edit">Edit</a>
              </div>
              </div>
            <% }) %>
          </div>
    <% } else { %>
      <div class="jumbotron jumbo">
        <h1>Please log in to see favorites</h1>
      </div>
    <% }; %>
  </div>
  <div class="col-xs-2">
  </div>
</div>
