<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6 text -center">
    <h1>Search Results</h1>
    <% data.forEach(function(data) { %>
      <div class="spacerDiv editCont">

        <div>
          <p><img src="<%= data.icon %>" class="img-responsive icon"> <span class="pull-right"> Rating: <%= data.rating %></span></p>
          <p class="searchName"><%= data.name %></p>
        </div>
        <p><%= data.vicinity %></p>
        <div>
          <a class="btn btn-success" href="/favorites/<%= data.place_id %>">Favorite</a>
        </div>
      </div>
          <%  }); %>
  </div>
  <div class="col-xs-3">
  </div>
</div>
