<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6 text -center">
    <h1>Search Results</h1>
    <% if (data) { %>
    <% data.forEach(function(data) { %>
      <div class="spacerDiv editCont">

        <div>

            <% if (data.opening_hours && data.opening_hours.open_now) { %>
              <span class="pull-right openNow" style="color:rgb(49, 134, 68);"> OPEN </span>
            <% } else if (data.opening_hours) { %>
              <span class="pull-right openNow" style="color:rgb(234,53,86);"> CLOSED </span>
            <% } else {}%>

           <span class="pull-right">
            <% if (data.rating) { %>
              Rating: <%= data.rating %>
            <% } %>
          </span>
            <p><img src="<%= data.icon %>" class="img-responsive icon"></p>
          <p class="searchName"><%= data.name %></p>
        </div>
        <p><%= data.vicinity %></p>
        <p class="searchTypes"><%= data.types %></p>
        <div>
          <a class="btn btn-success" href="/favorites/<%= data.place_id %>">Favorite</a>
        </div>
      </div>
      <%  }); %>
    <% } %>
  </div>
  <div class="col-xs-3">
  </div>
</div>
